*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: #E8EAE9;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


  }


.neumorphic {
    background-color: rgb(247, 247, 247);
    border-radius: 60px;
    box-shadow: rgba(255, 255, 255, 0.64) -33px -33px 46px 0px inset, rgba(13, 39, 80, 0.16) 28px 28px 54px 0px inset, rgb(255, 255, 255) -31px -31px 43px 0px, rgba(13, 39, 80, 0.16) 8px 8px 54px 0px;
    width: 292px;
    height: 276px;
    transition: transform 0.3s ease;
    position: relative;
    align-content: center;
    transition: 1s;
    
  }

  .Texto_Boton{
    text-align: center;
    color: rgba(13, 39, 80, 0.16);
    font-size: 37px;
  }

  a{
    text-decoration: none;
    height: 292px;
    height: 276px;
  }

  .contenedor_general_test a .neumorphic:hover{
      transform: scale(1.03);
      transition: transform 0.3s ease;
  }

